.excel-preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;

  .ant-tabs {
    width: 100%;
    height: 100%;
  }

  .ant-tabs-content-holder {
    width: 100%;
    height: 100%;
  }

  &.simple .ant-tabs-content-holder {
    overflow: auto;
  }

  &.simple .content-preview-simple tr:first-child {
    font-weight: bold;
  }
}